body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element 
 Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/*Set widths on the form inputs since otherwise they're 100% wide 
input,
select,*/
/*textarea {
    max-width: 280px;
}*/

/*Carousel*/
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/*buttons and links extension to use brackets: [ click me ]*/
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/*Hide/rearrange for smaller screens*/
@media screen and (max-width: 767px) {
    Hide captions .carousel-caption {
        display: none;
    }
}


#block-block-65 .caption {
    display: none;
}

#block-block-65 {
    background: url(/images/header-1.png) center top no-repeat;
    background-size: cover;
    padding: 200px 0;
}

    #block-block-65 h1 {
        color: white;
        padding: 60px 20px 20px 20px;
        text-align: center;
        font-size: 28px;
        line-height: normal;
        font-weight: bold;
        letter-spacing: -.06em;
    }

        #block-block-65 h1 em {
            color: red;
        }

    #block-block-65 h3 {
        color: white;
        text-align: center;
    }

    #block-block-65 .button {
        margin-bottom: 20px;
    }

#heroWrapper {
    height: 100%;
    min-height: 100%;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    background: #00b5ec;
    position: relative;
}
