@{
    ViewData["Title"] = "Home Page";
}

<div class="content-header">
    <div class="container">
        <div class="region region-header">
            <div id="block-block-61" class="block block-block">
                <div class="content">
                    <div class="feature">Featured Whitepaper: <a href="http://go.idealistconsulting.com/salesforce_shoestring">Best Salesforce Apps for Small Businesses&nbsp;</a><a title="Featured Webinar" href="http://www.idealistconsulting.com/webinars/intro-lifecycle-marketing-nonprofits" target="_self">&nbsp;</a><a title="Salesforce on a Shoestring" href="http://go.idealistconsulting.com/salesforce_shoestring" target="_self"><img src="/sites/default/files/intro-arrow.jpg" alt="" width="51" height="50"></a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home_rotator">
    <div class="region region-home-rotator">
        <div id="block-block-65" class="block block-block">
            <div class="content">
                <div class="container">
                    <div class="home-header">

                        <h1>What Can We Do For Your World?</h1>
                        <a href="sydneys-world" class="button">Watch the Video</a>
                        <div class="caption">Serving nonprofit, business<br>and government. <br>Make Salesforce work for you. </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="process">
    <div class="container">
        <div class="region region-process">
            <div id="block-block-67" class="block block-block">
                <h2 class="block-title">Our Process</h2>
                <div class="content">
                    <div id="owl-process" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                        <div class="owl-wrapper-outer">
                            <div class="owl-wrapper" style="width: 2096px; left: 0px; display: block; transition: all 0ms ease; transform: translate3d(0px, 0px, 0px);">
                                <div class="owl-item" style="width: 262px;">
                                    <div>
                                        <img src="../sites/all/themes/idealist_skeleton/images/build.png" alt=""><br><h3>build</h3>
                                        <p>Salesforce to house your data and support your processes</p>
                                    </div>
                                </div><div class="owl-item" style="width: 262px;">
                                    <div>
                                        <img src="../sites/all/themes/idealist_skeleton/images/move.png" alt=""><br><h3>move</h3>
                                        <p>Data and processes from old systems to new</p>
                                    </div>
                                </div><div class="owl-item" style="width: 262px;">
                                    <div>
                                        <img src="../sites/all/themes/idealist_skeleton/images/connect.png" alt=""><br><h3>connect</h3>
                                        <p>Salesforce to any website or application</p>
                                    </div>
                                </div><div class="owl-item" style="width: 262px;">
                                    <div>
                                        <img src="../sites/all/themes/idealist_skeleton/images/support.png" alt=""><br><h3>support</h3>
                                        <p>Before, during, and after implementation</p>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="owl-controls clickable" style="display: none;"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div></div></div>
                    </div>
                    <p><a class="button" href="http://www.idealistconsulting.com/what-we-do">Learn More </a></p>
                </div>
            </div>
        </div>
    </div>
</div>