@model Cobra.Models.PaperBag
@inject Cobra.Services.OptionsService OptionsService

@{
    ViewData["Title"] = "CreatePaperBag";
}

<h2>Create Paper Bag</h2>

<form asp-action="CreatePaperBag">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="PreOrderId" value=@ViewData["PreOrderId"] type="hidden" />
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Quantity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger" />
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label asp-for="Unit" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Unit" asp-items=@OptionsService.ListUnits().Select(o => new SelectListItem() { Text = o.Description, Value = o.Name}) class="form-control"></select>
                <span asp-validation-for="Unit" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Height" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Width" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Width" class="form-control" />
                <span asp-validation-for="Width" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Gusset" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Gusset" class="form-control" />
                <span asp-validation-for="Gusset" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Material" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Material" asp-items=@OptionsService.ListPaperMaterialTypes().Select(o => new SelectListItem() { Text = o.Description, Value = o.Name}) class="form-control"></select>
                <span asp-validation-for="Material" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MaterialWeight" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="MaterialWeight" asp-items=@OptionsService.ListPaperWeights().Select(o => new SelectListItem() { Text = o.Description, Value = o.Name}) class="form-control"></select>
                <span asp-validation-for="MaterialWeight" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Printing" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Printing" asp-items=@OptionsService.ListPrintStyles().Select(o => new SelectListItem() { Text = o.Description, Value = o.Name}) class="form-control"></select>
                <span asp-validation-for="Printing" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="InsidePrinting" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="InsidePrinting" asp-items=@OptionsService.ListPrintStyles().Select(o => new SelectListItem() { Text = o.Description, Value = o.Name}) class="form-control"></select>
                <span asp-validation-for="InsidePrinting" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Lamination" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Lamination" asp-items=@OptionsService.ListLaminationTypes().Select(o => new SelectListItem() { Text = o.Description, Value = o.Name}) class="form-control"></select>
                <span asp-validation-for="Lamination" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SurfaceEmbellishment" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="SurfaceEmbellishment" asp-items=@OptionsService.ListSufaceEmbellishments().Select(o => new SelectListItem() { Text = o.Description, Value = o.Name})  class="form-control"></select>
                <span asp-validation-for="SurfaceEmbellishment" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Handle" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Handle" asp-items=@OptionsService.ListHandleTypes().Select(o => new SelectListItem() { Text = o.Description, Value = o.Name}) class="form-control"></select>
                <span asp-validation-for="Handle" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="HasJHook" />
                    <label asp-for="HasJHook"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="HasTag" />
                    <label asp-for="HasTag"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="HasLabel" />
                    <label asp-for="HasLabel"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="InnerPackingWay" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="InnerPackingWay" asp-items=@OptionsService.ListPackingWays().Select(o => new SelectListItem() { Text = o.Description, Value = o.Name}) class="form-control"></select>
                <span asp-validation-for="InnerPackingWay" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OuterPackingWay" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="OuterPackingWay" asp-items=@OptionsService.ListPackingWays().Select(o => new SelectListItem() { Text = o.Description, Value = o.Name}) class="form-control"></select>
                <span asp-validation-for="OuterPackingWay" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShippingWay" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ShippingWay" asp-items=@OptionsService.ListShippingWays().Select(o => new SelectListItem() { Text = o.Description, Value = o.Name}) class="form-control"></select>
                <span asp-validation-for="ShippingWay" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
