@model Cobra.Models.PaperBag

@{
    ViewData["Title"] = "View";
}

<br />
<h4>Paper Bag - @Model.Description</h4>
<div>
    <hr />
    @await Component.InvokeAsync("PaperBag", new { id = Model.Id })
</div>
<br />
<br />
<div>
    <a asp-action="EditPaperBag" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Edit" asp-route-id=@Model.PreOrderId>Back to Quote</a>
</div>
